@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-dark: rgb(255, 255, 255, 0);
  --green: rgb(22, 199, 22);
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 0.05rem solid var(--green);
  background: gray;
}

/***************************** Navbar ******************************/

.profImage {
  height: 6rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.navbar-brand {
  max-width: 17.25rem;
  height: 6rem;
  padding: 0 !important;
}

/*------- Menu Links --------*/

.navbar-collapse {
  justify-content: flex-end;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: white !important;
  margin: 0 1rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid rgb(22, 199, 22);
}

/************************* HEADER ***************************/

.header-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90vh; 
  font-family: 'Roboto Condensed', sans-serif;
}


.main-info {
  display: flex;
  position: absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1 {
  color: white;
  text-transform: uppercase;
}

/* ---------- TYPED TEXT ------------- */
.typed-text {
  font-size: 2rem;
  color: white;
}

/* ---------- HEADER MAIN BUTTON ------------- */
.btn-main {
  border: 1px solid var(--green);
  text-transform: uppercase;
  padding: .625rem .75rem .75rem .75rem;
  color: white;
  margin: 2rem;
  text-decoration: none;
}

.btn-main:hover {
  color: white;
  border: 1px solid green;
}

/*-------------- PARTICLES ------------*/
.tsparticles {
  background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(images/blade-runner-wallpaper.jpg) no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/************************** ABOUT AND CONTACT *****************************/

.about-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
}

.about-contact .card-title {
  position: relative;
  top: 1rem;
  margin: auto;
  margin-top: 1rem;
}

.about-contact > div {
  border: 1px solid var(--green);
  background-color: rgba(24, 26, 27, 0.8);
  width: 80%;
}

.about-contact a {
  text-decoration: none;
}

/************************ CONTACT ***************************/

.contact-paragraph {
  margin: 1rem auto;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links img {
  width: 2.5rem;
}

.links a:hover {
  transform: scale(1.2);
}

#linked-in, #github {
  margin-top: 0.75rem;
}

#email span {
  font-size: 2.5rem;
}

/************************ PORTFOLIO PAGE ****************************/

.portfolio {
  position: relative;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100rem;
}

.projects {
  flex-direction: row;
}

.portfolio .card-title {
  margin-bottom: 1.2rem;
}

.portfolio > div {
  border: 1px solid var(--green);
  background-color: rgba(24, 26, 27, 0.8);
  width: 50vw;
  text-align: center;
  padding: 1.5rem;
  margin: 2rem;
}

.portfolio img {
  width: 40vw;
}

.portfolio a {
  width: fit-content;
  margin: auto;
}

#resume {
  width: 30vw;
}