@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-dark: rgb(255, 255, 255, 0);
}

body {
  font-family: 'Roboto Condensed', sans-serif;
} 

/***************************** Navbar ******************************/

.profImage {
  width: 6rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.navbar-brand {
  max-width: 17.25rem;
  height: 6rem;
  padding: 0 !important;
}

/*------- Menu Links --------*/

.navbar-collapse {
  justify-content: flex-end;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: white !important;
  margin: 0 1rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid rgb(22, 199, 22);
}
